{% extends 'base.html' %} {% block title %} <title>About JMD</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}

<div class="container">
  <h1 class="text-center my-5">About us</h1>
  <p>
    Currently this website is operated by one man. This websites mission is to
    spread the knowledge that he has acquired so that others may benefit from it
    too. That being said, no one can show you unless you want to understand, for
    God has only opened the eyes of certain people. It is possible to have your
    eyes be opened but to not believe, there is an increasingly high number of
    people who are in this category. These people are sometimes called or call
    themselves &quot;truthers.&quot; I hope that you make use of this website,
    and the content provided inspires you to believe in the Lord Jesus Christ.
  </p>
</div>
<hr class="opacity-75" />
<h1 class="text-center my-5">FAQ &ndash; Frequently Asked Questions</h1>
<div class="container">
  <h3>Question 1: Who is Juice Media Distributed?</h3>
  <p>
    I&apos;m just a hacker with ethics all my own... jk that&apos;s the definition of a
    gray hat hacker.
  </p>
  <hr class="opacity-75" />
  <h3>Question 2: Why did you make this website?</h3>
  <p>
    I want people to know the things that have been shown to me and this seemed
    like a efficient way to do this.
  </p>
  <hr class="opacity-75" />
  <h3>Question 3: What&apos;s the #1 thing I can do to change my life?</h3>
  <p>
    It is written that if you manage what little you have well, more will be
    given.
  </p>
  <p>
    When God does something nice for you, give him credit instead of claiming
    credit for yourself.
  </p>
  <p>
    Work hard and learn and go the extra mile. After a while you&apos;ll get your
    break. Start small but keep making steay progress.
  </p>
  <hr class="opacity-75" />
  <h3>Question 4: Will more content be added?</h3>
  <p>
    It&apos;s much more likely that it will if I get viewers and it&apos;s making the
    difference. Show your friends and love ones.
  </p>
</div>
<hr class="opacity-75" />
<div class="container">
  <h1 class="text-center my-5">Contact us below:</h1>
  <form method="post" action="#" id="form" class="mx-5 mt-5">
    <div class="mb-3">
      <label for="name" class="form-label">Full name</label>
      <input
        type="text"
        name="name"
        class="form-control color-for-form"
        id="name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        pattern=".+@*\.+"
        class="form-control color-for-form"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        required
      />
      <div id="emailHelp" class="form-text text-light">
        We&apos;ll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Share your message or feedback for the website below:</label>
      <textarea
        class="form-control color-for-form"
        id="message"
        name="message"
        rows="3"
        required
      ></textarea>
    </div>

    <p>
      If you want to buy a item, select if from the dropdown and add your credit
      card.
    </p>
    <label for="items">Buy a item if you want: </label>
    <!-- these are fake items as a joke-->
    <select name="items" id="items" class="mb-3 color-for-form">
      <option value="none">None Please!</option>
      <option value="leather">Leather Tank Gunnery Patches &#36;49.99</option>
      <option value="widget">1 Widget &#36;15.99</option>
      <option value="tummy-warmers">
        100&#37; Genuine Tummy Warmers &#36;21.99
      </option>
      <option value="gold-blanks">Specially Made Gold Blanks &#36;3000</option>
    </select>

    <div class="mb-3">
      <label for="credit-card" class="form-label"
        >Credit card number: &#40;only if you are buying a item&#41; this is a dummy
        form don&apos;t actually put your credit card
      </label>
      <input
        type="number"
        name="credit-card"
        class="form-control color-for-form"
        id="credit-card"
      />
    </div>
    <div class="mb-3">
      <label for="ship-address" class="form-label">Shipping address: </label>
      <input
        type="text"
        name="ship-address"
        class="form-control color-for-form"
        id="ship-address"
      />
      <!-- wouldn't let me apply color to the checkbox, it isn't bad that it is white because it is easy to spot and people won't miss it. -->
      <input
        class="mt-4"
        type="checkbox"
        id="bill-same-as-shipping"
        name="bill-same-as-shipping"
        value="Is your billing address the same as your shipping address? "
      />
      <label for="bill-same-as-shipping"
        >Is your billing address the same as your shipping address? </label
      ><br />
    </div>
    <p>
      You do not need to fill out billing address unless it is different than
      your shipping address.
    </p>
    <div class="mb-3">
      <label for="bill-address" class="form-label">Billing address: </label>
      <input
        type="text"
        name="bill-address"
        class="form-control color-for-form"
        id="bill-address"
      />
    </div>
    <div class="mb-3">
      <label for="cc-expiration" class="form-label"
        >Credit card expiration: &#40;only if you are buying a item&#41;</label
      >
      <input
        type="text"
        name="cc-expiration"
        class="form-control color-for-form"
        id="cc-expiration"
      />
    </div>
    <div class="mb-3">
      <label for="cc-code" class="form-label"
        >Enter the code on the back of your credit card: &#40;only if you are buying
        a item&#41;</label
      >
      <input
        type="text"
        name="cc-code"
        maxlength="5"
        class="form-control color-for-form"
        id="cc-code"
      />
    </div>
    <p>
      This is a form that does not work, I made it for pactice. If you press
      submit you may get a error because it has nowhere to send the form, or a
      email application may open.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-danger mb-5">Submit</button>
    </div>
  </form>
</div>

{% endblock %} {% block scripts %} {% endblock %}
