{% extends 'base.html' %} {% block title %} <title>Assignment 4</title>{%
endblock %}{% block head %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='homework/css/assignment4.css') }}"
/>
{% endblock %} {% block content %}<!-- I'm not sure what depressing keyboard means, but I'm assuming it means depressing a key on the keyboard. I used the onkeydown event to change the background color of the page. -->
<div class="container my-5">
<!-- You said you wanted our blog post on our homework, so I included it. -->
  <a href="/blog2" class="link-styling"
    ><p>[NEW!] Click this text to learn about design patterns!</p></a
  ><br />
  <h3 style="color: gray">
    Click buttons on your keyboard to change the color of the background! You
    can use spacebar, enter, mouse click, and the q key!
  </h3>
  
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='homework/scripts/what-does-this-do.js')}}"></script>
<script src="{{url_for('static', filename='homework/scripts/assignment4colorchanger.js')}}"></script>
{% endblock %}
