{% extends 'base.html' %} {% block title %} <title>Assignment3a</title>{%
endblock %}{% block head %} {% endblock %} {% block content %}
<div class="container">
  <button class="btn btn-primary mt-3" type="button" onclick="exercise0()">
    Show me the arrays!
  </button>
  <p id="text1"></p>
  <p id="first"></p>
  <p id="text2"></p>
  <p id="second"></p>
  <p id="text3"></p>
  <p id="third"></p>
  <p id="fourth"></p>
  <p id="text5"></p>
  <p id="fifth"></p>
  <p id="text6"></p>
  <p id="sixth"></p>
  <p id="text7"></p>
  <p id="seventh"></p>
</div>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='homework/scripts/assignment3.js')}}"></script>
{% endblock %}
