{% extends 'base.html' %} {% block title %} <title>Assignment 4</title>{%
endblock %}{% block head %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='homework/css/assignment4.css') }}"
/>
<!-- no validations have been run on this html page. It is not available to the public because there is no route and is only for my own personal use just in case I need it. -->
{% endblock %} {% block content %}
<div class="container my-5">
  <button class="btn btn-info" type="button" onclick="digitalClock()">
    Show me the 24 hour clock!
  </button>
  <button class="btn btn-info" type="button" onclick="twelveHourClock()">
    Show me the 12 hour clock!
  </button>
  <div class="text-center clock my-5" id="clock"></div>
  <div class="text-center clock my-5" id="clock2"></div>
  <form name="frm">
    <input name="result" class="calc" />
    <br />
    <!-- this calculator adds numbers by using the run function and the onclick event. It also uses the eval function to evaluate the string. The clearit function clears the input field. The runplus, runTimes, runExponent, runMinus, and runDivide functions add the appropriate operator to the input field. -->
    <input
      name="1"
      class="btn btn-success"
      type="button"
      value="1"
      onClick="run(1)"
    />
    <input
      name="2"
      class="btn btn-success"
      type="button"
      value="2"
      onClick="run(2)"
    />
    <input
      name="3"
      class="btn btn-success"
      type="button"
      value="3"
      onClick="run(3)"
    />
    <input
      type="button"
      class="btn btn-danger"
      name="times"
      value="*"
      onClick="runTimes()"
    />
    <input
      type="button"
      class="btn btn-danger"
      name="exponent"
      value="**"
      onClick="runExponent()"
    />
    <input
      type="button"
      class="btn btn-danger"
      name="exponent"
      value="^2"
      onClick="runSquare()"
    />
    <input
      type="button"
      class="btn btn-danger"
      name="exponent"
      value="sqrt"
      onClick="runSquareRoot()"
    />
    <br />
    <input
      name="4"
      class="btn btn-success"
      type="button"
      value="4"
      onClick="run(4)"
    />
    <input
      name="5"
      class="btn btn-success"
      type="button"
      value="5"
      onClick="run(5)"
    />
    <input
      name="6"
      class="btn btn-success"
      type="button"
      value="6"
      onClick="run(6)"
    />
    <input
      class="btn btn-danger"
      type="button"
      name="minus"
      value="-"
      onClick="runMinus()"
    />
    <input
      class="btn btn-danger"
      type="button"
      name="divide"
      value="/"
      onClick="runDivide()"
    />
    <input
      class="btn btn-danger"
      type="button"
      name="divide"
      value="pi"
      onClick="pi()"
    />
    <input
      class="btn btn-danger"
      type="button"
      name="divide"
      value="base10"
      onClick="runbase10()"
    />
    <br />

    <input
      name="7"
      class="btn btn-success"
      type="button"
      value="7"
      onClick="run(7)"
    />
    <input
      name="8"
      class="btn btn-success"
      type="button"
      value="8"
      onClick="run(8)"
    />
    <input
      name="9"
      class="btn btn-success"
      type="button"
      value="9"
      onClick="run(9)"
    />

    <input
      class="btn btn-danger"
      type="button"
      name="plus"
      value="+"
      onClick="runplus()"
    />

    <input
      class="btn btn-danger"
      type="button"
      name="calc"
      value="="
      onClick="evalu()"
    />
    <input
      class="btn btn-danger"
      type="button"
      name="calc"
      value="A/C"
      onClick="clearit()"
    />
    <input
      class="btn btn-danger"
      type="button"
      name="calc"
      value="base8"
      onClick="runbase8()"
    />
    <br />
    <input
      name="0"
      class="btn btn-success"
      type="button"
      value="0"
      onClick="run(0)"
    />
  </form>
  <!-- I'm not sure what depressing keyboard means, but I'm assuming it means depressing a key on the keyboard. I used the onkeydown event to change the background color of the page. -->
  <h3 style="color: gray">
    Click buttons on your keyboard to change the color of the background! You
    can use spacebar, enter, mouse click, and the q key!
  </h3>
  <div id="colorName" style="color: gray"></div>
  <script type="text/javascript">
    const body = document.body;

    body.addEventListener('click', (e) => {
      console.log('clicked body');
      let x = 0;
      x = Math.floor(Math.random() * 21);
      if (x == 1) {
        document.body.style.backgroundColor = '#0099ff';
        document.getElementById('colorName').innerHTML =
          'This color is #0099ff, rgb(0, 153, 255), hsl(204, 100%, 50%)';
      } else if (x == 2) {
        document.body.style.backgroundColor = '#800000';
        document.getElementById('colorName').innerHTML =
          'This color is Maroon #800000 rgb(128, 0, 0) hsl(0, 100%, 25%)';
      } else if (x == 3) {
        document.body.style.backgroundColor = '#ff00ff';
        document.getElementById('colorName').innerHTML =
          'This color is Fuchsia #ff00ff rgb(255, 0, 255) hsl(300, 100%, 50%)';
      } else if (x == 4) {
        document.body.style.backgroundColor = '#00ffff';
        document.getElementById('colorName').innerHTML =
          'This color is Aqua #00ffff rgb(0, 255, 255) hsl(180, 100%, 50%)';
      } else if (x == 5) {
        document.body.style.backgroundColor = '#cc9900';
        document.getElementById('colorName').innerHTML =
          'This color is #cc9900 rgb(204, 153, 0) hsl(45, 100%, 40%)';
      } else if (x == 6) {
        document.body.style.backgroundColor = '#ff9900';
        document.getElementById('colorName').innerHTML =
          'This color is #ff9900 rgb(255, 153, 0) hsl(36, 100%, 50%)';
      } else if (x == 7) {
        document.body.style.backgroundColor = '#6600ff';
        document.getElementById('colorName').innerHTML =
          'This color is #6600ff rgb(102, 0, 255) hsl(264, 100%, 50%)';
      } else if (x == 8) {
        document.body.style.backgroundColor = '#33cc33';
        document.getElementById('colorName').innerHTML =
          'This color is #33cc33 rgb(51, 204, 51) hsl(120, 60%, 50%)';
      } else if (x == 9) {
        document.body.style.backgroundColor = '#660066';
        document.getElementById('colorName').innerHTML =
          'This color is #660066 rgb(102, 0, 102) hsl(300, 100%, 20%)';
      } else if (x == 10) {
        document.body.style.backgroundColor = '#66ff33';
        document.getElementById('colorName').innerHTML =
          'This color is #66ff33 rgb(102, 255, 51) hsl(105, 100%, 60%)';
      } else if (x == 11) {
        document.body.style.backgroundColor = '#0000ff';
        document.getElementById('colorName').innerHTML =
          'This color is Blue #0000ff rgb(0, 0, 255) hsl(240, 100%, 50%)';
      } else if (x == 12) {
        document.body.style.backgroundColor = '#ffffff';
        document.getElementById('colorName').innerHTML =
          'This color is White #ffffff rgb(255, 255, 255) hsl(0, 0%, 100%)';
      } else if (x == 13) {
        document.body.style.backgroundColor = '#336699';
        document.getElementById('colorName').innerHTML =
          'This color is #336699 rgb(51, 102, 153) hsl(210, 50%, 40%)';
      } else if (x == 14) {
        document.body.style.backgroundColor = '#ffff00';
        document.getElementById('colorName').innerHTML =
          'This color is Yellow #ffff00 rgb(255, 255, 0) hsl(60, 100%, 50%)';
      } else if (x == 15) {
        document.body.style.backgroundColor = '#666699';
        document.getElementById('colorName').innerHTML =
          'This color is #666699 rgb(102, 102, 153) hsl(240, 20%, 50%)';
      } else if (x == 16) {
        document.body.style.backgroundColor = '#ff9500';
        document.getElementById('colorName').innerHTML =
          'This color is #ff9500 rgb(255, 149, 0) hsl(35, 100%, 50%)';
      } else if (x == 17) {
        document.body.style.backgroundColor = '#99ccff';
        document.getElementById('colorName').innerHTML =
          'This color is #99ccff rgb(153, 204, 255) hsl(210, 100%, 80%)';
      } else if (x == 18) {
        document.body.style.backgroundColor = '#F8DA98';
        document.getElementById('colorName').innerHTML =
          'This color is Rachel #F8DA98 rgb(248, 218, 152) hsl(45, 100%, 80%)';
      } else if (x == 19) {
        document.body.style.backgroundColor = '#66ff99';
        document.getElementById('colorName').innerHTML =
          'This color is #66ff99 rgb(102, 255, 153) hsl(140, 100%, 70%)';
      } else if (x == 20) {
        document.body.style.backgroundColor = '#cc00cc';
        document.getElementById('colorName').innerHTML =
          'This color is #cc00cc rgb(204, 0, 204) hsl(300, 100%, 40%)';
      }
    });
    document.body.onkeyup = function (e) {
      let x = 0;
      x = Math.floor(Math.random() * 21);
      //this checks if the keys pressed are the space bar, enter, or q. if they are, it will change the color of the background to a random color.
      if (
        e.key == ' ' ||
        e.code == 'Space' ||
        e.keyCode == 32 ||
        e.key == 'q' ||
        e.key == 'Q' ||
        e.key == '81' ||
        e.key == 'Enter' ||
        e.key == 'enter' ||
        e.key == '13'
      ) {
        //A lot of these colors are not named colors. also 20 colors was kind of a lot, maybe make it less in the future. people will get the idea with only 5 colors and not so much grind to get it done.
        console.log(x);
        if (x == 1) {
          document.body.style.backgroundColor = '#0099ff';
          document.getElementById('colorName').innerHTML =
            'This color is #0099ff, rgb(0, 153, 255), hsl(204, 100%, 50%)';
        } else if (x == 2) {
          document.body.style.backgroundColor = '#800000';
          document.getElementById('colorName').innerHTML =
            'This color is Maroon #800000 rgb(128, 0, 0) hsl(0, 100%, 25%)';
        } else if (x == 3) {
          document.body.style.backgroundColor = '#ff00ff';
          document.getElementById('colorName').innerHTML =
            'This color is Fuchsia #ff00ff rgb(255, 0, 255) hsl(300, 100%, 50%)';
        } else if (x == 4) {
          document.body.style.backgroundColor = '#00ffff';
          document.getElementById('colorName').innerHTML =
            'This color is Aqua #00ffff rgb(0, 255, 255) hsl(180, 100%, 50%)';
        } else if (x == 5) {
          document.body.style.backgroundColor = '#cc9900';
          document.getElementById('colorName').innerHTML =
            'This color is #cc9900 rgb(204, 153, 0) hsl(45, 100%, 40%)';
        } else if (x == 6) {
          document.body.style.backgroundColor = '#ff9900';
          document.getElementById('colorName').innerHTML =
            'This color is #ff9900 rgb(255, 153, 0) hsl(36, 100%, 50%)';
        } else if (x == 7) {
          document.body.style.backgroundColor = '#6600ff';
          document.getElementById('colorName').innerHTML =
            'This color is #6600ff rgb(102, 0, 255) hsl(264, 100%, 50%)';
        } else if (x == 8) {
          document.body.style.backgroundColor = '#33cc33';
          document.getElementById('colorName').innerHTML =
            'This color is #33cc33 rgb(51, 204, 51) hsl(120, 60%, 50%)';
        } else if (x == 9) {
          document.body.style.backgroundColor = '#660066';
          document.getElementById('colorName').innerHTML =
            'This color is #660066 rgb(102, 0, 102) hsl(300, 100%, 20%)';
        } else if (x == 10) {
          document.body.style.backgroundColor = '#66ff33';
          document.getElementById('colorName').innerHTML =
            'This color is #66ff33 rgb(102, 255, 51) hsl(105, 100%, 60%)';
        } else if (x == 11) {
          document.body.style.backgroundColor = '#0000ff';
          document.getElementById('colorName').innerHTML =
            'This color is Blue #0000ff rgb(0, 0, 255) hsl(240, 100%, 50%)';
        } else if (x == 12) {
          document.body.style.backgroundColor = '#ffffff';
          document.getElementById('colorName').innerHTML =
            'This color is White #ffffff rgb(255, 255, 255) hsl(0, 0%, 100%)';
        } else if (x == 13) {
          document.body.style.backgroundColor = '#336699';
          document.getElementById('colorName').innerHTML =
            'This color is #336699 rgb(51, 102, 153) hsl(210, 50%, 40%)';
        } else if (x == 14) {
          document.body.style.backgroundColor = '#ffff00';
          document.getElementById('colorName').innerHTML =
            'This color is Yellow #ffff00 rgb(255, 255, 0) hsl(60, 100%, 50%)';
        } else if (x == 15) {
          document.body.style.backgroundColor = '#666699';
          document.getElementById('colorName').innerHTML =
            'This color is #666699 rgb(102, 102, 153) hsl(240, 20%, 50%)';
        } else if (x == 16) {
          document.body.style.backgroundColor = '#ff9500';
          document.getElementById('colorName').innerHTML =
            'This color is #ff9500 rgb(255, 149, 0) hsl(35, 100%, 50%)';
        } else if (x == 17) {
          document.body.style.backgroundColor = '#99ccff';
          document.getElementById('colorName').innerHTML =
            'This color is #99ccff rgb(153, 204, 255) hsl(210, 100%, 80%)';
        } else if (x == 18) {
          document.body.style.backgroundColor = '#F8DA98';
          document.getElementById('colorName').innerHTML =
            'This color is Rachel #F8DA98 rgb(248, 218, 152) hsl(45, 100%, 80%)';
        } else if (x == 19) {
          document.body.style.backgroundColor = '#66ff99';
          document.getElementById('colorName').innerHTML =
            'This color is #66ff99 rgb(102, 255, 153) hsl(140, 100%, 70%)';
        } else if (x == 20) {
          document.body.style.backgroundColor = '#cc00cc';
          document.getElementById('colorName').innerHTML =
            'This color is #cc00cc rgb(204, 0, 204) hsl(300, 100%, 40%)';
        }
      }
    };
    let base10orbase8 = 10;
    //I don't know exactly what this button should do as by default the number is base 10. I suppose nothing.
    function runbase10() {
      i = frm.result.value;
      console.log(base10orbase8);
      if (base10orbase8 == 8) {
        //set to base 10 only if it's base 8
        x = parseInt(i, 8).toString(10);
        frm.result.value = x;
        base10orbase8 = 10;
      }
    }
    //this function uses parseint to convert the string to an integer and then uses the toString function to convert the integer to a string in base 8.
    function runbase8() {
      i = frm.result.value;
      console.log(base10orbase8);
      if (base10orbase8 == 10) {
        //set to base 8
        x = parseInt(i).toString(8);
        frm.result.value = x;
        base10orbase8 = 8;
      }
    }

    //these functions are pretty self explanatory, they mostly just add to the string in the input field according to their function. The pi function adds 3.14 to the string.
    function run(x) {
      frm.result.value += x;
    }
    function runSquare() {
      frm.result.value += '**2';
    }
    function runSquareRoot() {
      frm.result.value += '**0.5';
    }
    function runplus() {
      frm.result.value += '+';
    }
    function pi() {
      frm.result.value += '3.14';
    }
    function runTimes() {
      frm.result.value += '*';
    }
    function runExponent() {
      frm.result.value += '**';
    }
    function runMinus() {
      frm.result.value += '-';
    }
    function runDivide() {
      frm.result.value += '/';
    }

    //this function evaluates the string and displays the result
    function evalu() {
      //it's not perfect but in a basic way it works
      var evalo = eval(frm.result.value);

      frm.result.value = evalo;
    }
    //this function clears the input field
    function clearit() {
      frm.result.value = '';
    }
  </script>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='homework/scripts/what-does-this-do.js')}}"></script>
<script src="{{url_for('static', filename='homework/scripts/assignment4.js')}}"></script>
{% endblock %}
