<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- IN RESPONSE TO VALIDATION ERRORS: -->
  <!-- for these errors with the closing tag added to void elements, it is because of prettier and I keep deleting them but it keeps adding them. It is because Prettier is a opinionated formatter. After this experience, I will not be using it again and I believe it should be deprecated. So, please forgive these errors. -->

  <!-- these HTML in foreign namespace errors, it is a problem with the SVG tag, this is more complicated than I am able to solve. I believe it is a error with the validator and these posters seem to think so too. For more info: https://github.com/validator/validator/issues/156-->

  <!--VALIDATION CHECKERS:-->

  <!-- for the accessibility validators, I looked up why accessabilitychecker is not working, and it is probably a AWS problem. HTTP is allowed through my security group. Aside from that, I could not find much information about why this problem was occuring. https://www.accessibilitychecker.org/ -->

  <!-- for the other one, accessible web, they want too much information and I am not comfortable giving it to them. The signup process is too lengthy for a quick scan. https://accessibleweb.com/website-accessibility-checker/ -->

  <!-- for HTML validation, I used the W3C checker, and I resolved most of the errors. https://validator.w3.org/ My resonses to the remaining errors found above. -->

  <!-- My code successfully validated with https://codebeautify.org/cssvalidate however there were some errors with some of the boilerplate, specifically the <!DOCTYPE html> <html lang="en"> lines. However, I looked up the correct syntax and it is correct. I believe this is a problem with the validator. https://www.w3.org/International/questions/qa-html-language-declarations I did not use the W3 validator because it appears not to work with bootstrap or bootstrap masonry(the library used for the homepage). This thread may be relevant: https://stackoverflow.com/questions/57661659/w3c-css-validation-parse-error-on-variables My website also has very little CSS. One of the errors for assignment2, was The URL you entered is not accessible. Expected IDENT at line 1, col 39. I think this is because of the Jinga 2 Syntax for the CSS link. -->


    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- this syntax below is called jinga 2 syntax, it is covered in the video in app.py in the first 15 minutes. It is simply syntax. When you have a block, this is a place where you can put stuff into the page on other pages, it is like a varaible. The other pages extend the base.html and will have the content found on base.html as long as they extend them. THe content in the pages extending base.html will be found in the blocks found on base.html. Think of a block like assgigning a varaible. Typically, the content found on base.html is content that will be found on every page, like the navbar and footer. -->
    {% block title %}{% endblock %} {% block head %}{% endblock %}
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/juicebox.png')}}"
    />

    <!-- this is the link to the bootstrap css file using Flask syntax -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/color.css') }}"
    />
  </head>
  <body>
    <aside>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-warning top-sticky"
        aria-label="Offcanvas navbar large"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/"
            ><img
              class="favicon"
              src="{{url_for('static', filename='assets/footer-logo.png')}}"
              alt="a simple logo of my website"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end text-bg-warning"
            tabindex="-1"
            id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label"
          >
            <div class="offcanvas-header">
              <a href="/" class="nav-link"
                ><h5
                  class="offcanvas-title text-dark link-styling"
                  id="offcanvasNavbar2Label"
                >
                  Juice Media
                </h5></a
              >
              <button
                type="button"
                class="btn-close btn-close-dark"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a
                    class="nav-link text-dark link-styling"
                    aria-current="page"
                    href="/"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark link-styling" href="/youtube"
                    >YouTube</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark link-styling" href="/about"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-dark link-styling"
                    href="/registration"
                    >Register</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark link-styling" href="/login"
                    >Login</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-dark link-styling"
                    href="/hwlandingpage"
                    >Homework</a
                  >
                </li>
              </ul>
              <form class="d-flex mt-3 mt-lg-0" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                >
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
      {% block content %} {% endblock %}
      <hr class="opacity-75" />
      <div class="mx-4">
        <footer
          class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
        >
          <p class="col-md-4 mb-0 text-light">&copy; 2023 Juice Media</p>

          <a
            href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none text-light"
            ><img
              class="favicon"
              src="{{url_for('static', filename='assets/footer-logo.png')}}"
              alt="a simple logo of my website of the initals JMD"
            />
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>

          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
              <a href="/" class="nav-link px-2 text-light link-styling">Home</a>
            </li>
            <li class="nav-item">
              <a href="/youtube" class="nav-link px-2 text-light link-styling"
                >YouTube</a
              >
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link px-2 text-light link-styling"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/registration"
                class="nav-link px-2 text-light link-styling"
                >Registration</a
              >
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link px-2 text-light link-styling"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a href="/homework" class="nav-link px-2 text-light link-styling"
                >Homework</a
              >
            </li>
            <!-- SM buttons go here -->
            <!-- prettier is too opinionated for HTML and caused me many validation errors, like half of them are because of it. It should be deprecated -->
            <li><a href="/externalyoutube"
              ><img
                src="{{url_for('static', filename='assets/youtube.png')}}"
                alt="a simple logo of youtube"
                class="smbutton me-3"
            ></a></li>
            <li>
            <a href="/externaltelegram"
              ><img
                src="{{url_for('static', filename='assets/telegram.png')}}"
                alt="a simple logo of telegram"
                class="smbutton me-4"
            ></a></li>
            <li>
            <a href="/externaltwitter"
              ><img
                src="{{url_for('static', filename='assets/twitter.png')}}"
                alt="a simple logo of twitter"
                class="smbutton me-3"
            ></a></li>
            <li><a href="/externalreddit"
              ><img
                src="{{url_for('static', filename='assets/reddit.png')}}"
                alt="a simple logo of reddit"
                class="smbutton me-3"
            ></a></li>
          </ul>
        </footer>
      </div>
    </aside>
    <script src="{{url_for('static', filename='scripts/jquery_3.6.3.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/js.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
