{% extends 'base.html' %} {% block title %} <title>Extra Credit 2</title>{%
endblock %}{% block head %} {% endblock %} {% block content %}
<div class="container">
  <h1 class="my-5">The Decorator Design Pattern</h1>
  <a href="/blog2" class="link-styling"
    >Click this text to see a blog post for more information about this design
    pattern.</a
  ><br />
  <!-- the basic problem of the decorator design pattern is that code would be bloated if there are too many functions that do the same thing but with different parameters. The decorator design pattern solves this by creating a decorator class that takes in the function as a parameter and then returns the function with the parameters. This way, the code is not bloated and the decorator class can be used for multiple functions. -->
  <button
    type="button"
    class="btn btn-info my-3"
    onclick="addFacebookNotifications()"
  >
    Add a facebook notification!
  </button>
  <button
    type="button"
    class="btn btn-danger my-3"
    onclick="addEmailNotifications()"
  >
    Add a email notification!
  </button>
  <button
    type="button"
    class="btn btn-success my-3"
    onclick="addInstagramNotifications()"
  >
    Add a Instagram notification!
  </button>
  <button
    type="button"
    class="btn btn-warning my-3"
    onclick="addSlackNotifications()"
  >
    Add a slack notification!
  </button>
  <button
    type="button"
    class="btn btn-dark text-light my-3"
    onclick="sendNotifications()"
  >
    Send out the notifications!
  </button>
  <p class="my-3">
    This is a prototype so instead of really sending the notifications, it will
    put only the selected ones below.
  </p>
  <div id="facebook"></div>
  <div id="email"></div>
  <div id="instagram"></div>
  <div id="slack"></div>
  <button type="button" class="my-3 btn btn-light" onclick="clearIt()">
    Clear my notifications so I can do it again!
  </button>
</div>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='homework/scripts/extracredit2.js')}}"></script>
{% endblock %}
