{% extends 'base.html' %} {% block title %} <title>Extra Credit 1</title>{%
endblock %}{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='homework/css/extracredit1.css') }}"
/>{% endblock %} {% block content %}
<div class="container my-5">
  <h1>Password Generator Helper</h1>
<!-- a flaw of this program is that it only updates on keystroke, in production it would have to be changed-->
  <form action="#">
    <label for="psw"
      >This input box will tell you if you have made a strong password based on
      a criteria.</label
    ><br />
    <input
      type="text"
      id="psw"
      name="psw"
      placeholder="Enter Password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
      required
    />
  </form>
  <div id="message">
    <h3>Password must contain the following:</h3>
    <!-- This program uses CSS to change the color of the text based on if the password is valid or not. -->
    <p id="letter" class="invalid">A lowercase letter</p>
    <p id="capital" class="invalid">A capital (uppercase) letter</p>
    <p id="number" class="invalid">A number</p>
    <p id="length" class="invalid">Minimum 8 characters</p>
  </div>
  <button class="btn btn-primary mt-3" onclick="generatePasswd()" type="button">
    Make a password for me!
  </button>
  <button class="btn btn-primary mt-3" type="button" onclick="customPasswd()">
    Make a password for me with my input!
  </button>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='homework/scripts/extracredit1.js')}}"></script>

{% endblock %}
