{% extends 'base.html' %} {% block title %}
<title>This is a blank page in case I want to make more pages</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}
<div class="container">
  <h1 class="text-center my-5">Spring Break Calendar for NOVA</h1>
  <label for="spring-break">Spring Break:</label>

  <input
    type="date"
    id="spring-break"
    class="mb-5"
    name="Spring-Break"
    value="2023-03-13"
    min="2023-03-13"
    max="2023-03-19"
  />
</div>
{% endblock %} {% block scripts %}

<script src="{{url_for('static', filename='scripts/homework1.js')}}"></script>
{% endblock %}
