{% extends 'base.html' %} {% block title %}
<title>This is a blank page in case I want to make more pages</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}
<div class="container">
  <h1 class="text-center my-5">Check out my awesome homework assignments:</h1>

  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <p><a href="/assignment1" class="link-styling">Assignment 1</a></p>
      </div>
      <div class="col">
        <p>Future content added soon!</p>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %} {% block scripts %}

<script src="{{url_for('static', filename='scripts/homework1.js')}}"></script>
{% endblock %}
