{% extends 'base.html' %} {% block title %}
<title>Juice Media</title>
{% endblock %} {% block head %} {% endblock %} {% block content %}
<!-- masthead -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <!-- this is your code I modified.-->
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{url_for('static', filename='assets/masthead-1.mp4')}}" type="video/mp4"
	    poster="{{url_for('static', filename='assets/masthead-1-poster.png')}}">
      <p>A video of a campfire with someone adding coals</p>
      </video>
      <div class="carousel-caption d-none d-md-block">
        <h5>The fire burns</h5>
        <p>And continues to burn. </p>
      </div>
    </div>
    <div class="carousel-item">
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{url_for('static', filename='assets/masthead-2.mp4')}}" type="video/mp4"
	    poster="{{url_for('static', filename='assets/masthead-2-poster.png')}}">
      <p>A video of some dogs playing, they are white and black. The video begins with one of the dogs standing near the camera, and he runs to join the others.</p></video>
      <div class="carousel-caption d-none d-md-block">
        <h5>This is a video of dogs playing</h5>
        <p>Dogs run back and forth playing</p>
      </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class="text-center my-5">Juice Media Distributed</h1>

<div class="container">
  <div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Resources</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/seeds.jpg')}}" alt="a picture of a young plant with some people having their hands around it">
        </svg>
        <div class="card-body bg-dark">
          <a href="/youtube" class="link-styling"><h5 class="card-title">YouTube/Resources</h5></a>
          <a href="/youtube" class="link-styling"><p class="card-text text-light">
            On this page I go over resources about you can use to teach yourself,
            one of the main features is YouTube/Video pages.
          </p></a>
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>About this website</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/cat.jpeg')}}" alt="a picture of a cat in a tube, the cat looks like a burrito">
        </svg>
        <div class="card-body bg-dark">
          <a href="/about" class="link-styling"><h5 class="card-title">About this website</h5></a>
          <a href="/about" class="link-styling"><p class="card-text text-light">
            You can learn about this website, read the frequently asked questions, and contact the own of the website on this page. 
          </p></a>
        </div>
      </div>
    </div>
    <!-- this is the card for the quotes -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-danger text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>In the beginning God created the heavens and the earth.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            The Bible <cite title="Source Title">Genesis 1:1 NIV</cite>
          </figcaption>
        </figure>
      </div>
    </div>
     <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Registration</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/friends.png')}}" alt="a picture of a unlikely friendship of a monkey and a young lion. The monkey is riding the lion on his back">
        </svg>
        <div class="card-body bg-dark">
          <a href="/registration" class="link-styling"><h5 class="card-title">Register</h5></a>
          <a href="/registration" class="link-styling"><p class="card-text text-light">
            Register for this website on this page.
          </p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-success text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Trust in the Lord with all your heart
            and lean not on your own understanding; in all your ways submit to him,
            and he will make your paths straight.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            The Bible <cite title="Source Title">Proverbs 3:5-6 NIV</cite>
          </figcaption>
        </figure>
      </div>
    </div>
     <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Future content</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img style="size:4em;"src="{{url_for('static', filename='assets/funnycat.jpeg')}}" alt="a funny picture of a cat eating cereal with a pint of beer next time him. The beer is a european beer in a pilsner style glass">
        </svg>
        <div class="card-body bg-dark">
            <h5 class="card-title">Check out this cool picture</h5>
            <p class="card-text text-light">
            Future content may be provided, in the meanwhile check out this awesome picture. 
          </p>
        </div>
      </div>
    </div>
         <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Future content</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/redpanda.jpeg')}}" alt="A picture of a red panda sitting on a tree branch">
        </svg>
        <div class="card-body bg-dark">
          <a href="/hwlandingpage" class="link-styling"><h5 class="card-title">Homework Page</h5></a>
          <a href="/hwlandingpage" class="link-styling"><p class="card-text text-light">
            This is a page to show off some of my homework. Protip: watch out for the popups.
          </p></a>
        </div>
      </div>
    </div>
    <!-- these breaks solve a bug with the masthead and Masonry, the masonry elements were getting bunched up so I gave them some extra room. For some reason they were adding it themselves-->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-info text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>The stone the builders rejected has become the cornerstone.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            The Bible <cite title="Source Title">Pslams 118:22 NIV</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>


 <br><br><br><br>
<h1 class="text-center my-5">Find The Lord</h1>

{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='scripts/masonry.js')}}"></script>

{% endblock %}
