{% extends 'base.html' %} {% block title %}
<title>Juice Media</title>
{% endblock %} {% block head %} {% endblock %} {% block content %}

<!-- IMPORTANT, if you get the error with the bunched up masonry cards, refresh the page or try to use Chrome instead. -->

  <!--I have made the revisions to my website following your instructions from class on Saturday.

Some things I did include:

- Added a media query for the masthead on the homepage, hiding it for mobile users and another media query to get feedback from mobile users at the bottom of the index page. Besides the masthead, most features are fine on mobile. 
- Added some input validation for email addresses and some fields that should only be numbers, such as the credit card and credit card code. For the calculator, I could not find a solution, and explained what I did in a comment. 
- Validated for HTML, CSS, and Javascript. Remaining errors were explained in the comments. I know my colors are accessible because I compared them manually and changed my colors before the midterm. 
- The accessibility checkers did not work for me, I explained why I think so in the comments on the index page. If you have a fix, please let me know.
- Separated assignment 4 into 3 pages.
- Added blog posts to homework pages.

The comments explaining my remaining validation errors are on the index page of my website. 

https://github.com/JeffreyDinackus/Javascript-1/blob/main/midterm-website/templates/index.html

If there's anything I need to do, please let me know. I do not see any homework page on the canvas for midterm revisions. Please let me know what work is due for the final and for the powerpoint. -->

  <!-- IN RESPONSE TO HTML VALIDATION ERRORS: -->
  <!-- Info: Trailing slash on void elements has no effect and interacts badly with unquoted attribute values. for these errors with the closing tag added to void elements, it is because of prettier and I keep deleting them but it keeps adding them. It is because Prettier is a opinionated formatter. After this experience, I will not be using it again for HTML. So, please ignore these errors. It would be time consuming to delete all of the slashes. -->

  <!-- these HTML in foreign namespace errors, it is a problem with the SVG tag, this is more complicated than I am able to solve. I believe it is a error with the validator and these posters seem to think so too. This is because of Masonry, and how it is built to run. For more info: https://github.com/validator/validator/issues/156-->

  <!-- OTHER VALIDATION CHECKERS:-->

  <!-- for the accessibility validators, I looked up why accessabilitychecker is not working, and it is probably a AWS problem. HTTP is allowed through my security group. Aside from that, I could not find much information about why this problem was occuring. https://www.accessibilitychecker.org/ -->

  <!-- Accessible web did also not work for me, it gives the error, Could not verify script installation. Please visit your website to ensure it's properly installed and activated. This could be because I am running over Port 8080, or because of AWS, or because of flask, I cannot verify ownership of the website through associated Email with the domain or DNS because I have neither of those. It's probably a AWS issue or because it runs on port 8080. It's not possible to run my Flask server over port 80 at this time, as by default it is reserved for Apache and it's a whole big thing. My security group allows HTTP, HTTPS, and SSH over IPv4 and IPv6.
 https://accessibleweb.com/website-accessibility-checker/ -->

  <!-- for HTML validation, I used the W3C checker, and I resolved most of the errors. https://validator.w3.org/ My resonses to the remaining errors found above. -->

  <!-- My code successfully validated with https://codebeautify.org/cssvalidate however there were some errors with some of the boilerplate, specifically the <!DOCTYPE html> <html lang="en"> lines. However, I looked up the correct syntax and it is correct. I believe this is a problem with the validator. https://www.w3.org/International/questions/qa-html-language-declarations I did not use the W3 validator because it appears not to work with bootstrap or bootstrap masonry(the library used for the homepage). This thread may be relevant: https://stackoverflow.com/questions/57661659/w3c-css-validation-parse-error-on-variables My website also has very little CSS. It is now fully validated with CSS through the codebeautify link except for the error mentioned in this paragraph. -->

  <!-- for javascript I used https://codebeautify.org/jsvalidate and it validated successfully. the 	Expected '(end)' and instead saw ' appears to be erroneous. It may because of Flask/Jinga2 -->

  <!-- for my colors and being accessible, I did it manually before the midterms using https://webaim.org/resources/contrastchecker/ and it checked out. I actually changed a lot of my coloring to make it accessible. -->



  <!--NOTES ABOUT FINAL:-->
  <!-- there are many event handlers in my homework pages (buttons that do things) there are also a number of submit buttons and a search bar. -->
  <!-- there is validation in the credit card number input box (only numbers) and two layers for the email inputs, type="email" and a pattern. -->
  <!-- I added Jqeury accordian to About page and a jquery radio button for a 1 - 5 satisfation rating. -->

<!-- masthead -->
<div id="carouselExampleControls" class="carousel slide hidden-mobile" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <!-- the poster element seems to work when I load the page, I fixed a error when it was underneath the source element. -->
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="{{url_for('static', filename='assets/masthead-1-poster.png')}}">
      <source src="{{url_for('static', filename='assets/masthead-1.mp4')}}" type="video/mp4"
	    >
      <p>A video of some dogs playing, they are white and black. The video begins with one of the dogs standing near the camera, and he runs to join the others.</p></video>
      <div class="carousel-caption d-none d-md-block">
        <p class="masthead-text">Scroll down for more content</p>
        <p class="masthead-text">A video of a camera flying along a beach.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center my-5">Juice Media Distributed</h1>

<!-- this is the tag used for the login info from the user.-->
<h3 id="loggedinas" class="text-center my-3">You are not logged in</h3>
<!-- this is a javascript library called masonry, it is used to make the cards look nice and algin them. you can find information here: https://getbootstrap.com/docs/5.0/examples/masonry/-->
<!-- some of these validator remarks seem to be false positives, I am not sure why. -->
<div class="container">
  <div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Resources</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/seeds.jpg')}}" alt="a picture of a young plant with some people having their hands around it">
        
        <div class="card-body bg-dark">
          <a href="/youtube" class="link-styling"><h5 class="card-title">YouTube/Resources</h5></a>
          <a href="/youtube" class="link-styling"><p class="card-text text-light">
            On this page I go over resources about you can use to teach yourself,
            one of the main features is YouTube/Video pages.
          </p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-info text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>For I am convinced that neither death nor life, neither angels nor demons, neither the present nor the future, nor any powers, neither height nor depth, nor anything else in all creation, will be able to separate us from the love of God that is in Christ Jesus our Lord.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-dark">
            The Bible <cite title="Source Title">Written by Paul, Romans 8:38-39</cite>
          </figcaption>
        </figure>
      </div>
    </div>
     <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>About this website</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/cat.jpeg')}}" alt="a picture of a cat in a tube, the cat looks like a burrito">
        
        <div class="card-body bg-dark">
          <a href="/about" class="link-styling"><h5 class="card-title">About this website</h5></a>
          <a href="/about" class="link-styling"><p class="card-text text-light">
            You can learn about this website, read the frequently asked questions, and contact the own of the website on this page. 
          </p></a>
        </div>
      </div>
    </div>
    <!-- this is the card for the quotes -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-warning text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote text-dark">
            <p>In the beginning God created the heavens and the earth.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-dark">
            The Bible <cite title="Source Title">Genesis 1:1 NIV</cite>
          </figcaption>
        </figure>
      </div>
    </div>
     <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Registration</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/friends.png')}}" alt="a picture of a unlikely friendship of a monkey and a young lion. The monkey is riding the lion on his back">
        
        <div class="card-body bg-dark">
          <a href="/registration" class="link-styling"><h5 class="card-title">Register</h5></a>
          <a href="/registration" class="link-styling"><p class="card-text text-light">
            Register for this website on this page.
          </p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-success text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>Trust in the Lord with all your heart
            and lean not on your own understanding; in all your ways submit to him,
            and he will make your paths straight.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            The Bible <cite title="Source Title">Proverbs 3:5-6 NIV</cite>
          </figcaption>
        </figure>
      </div>
    </div>
     <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Future content</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/funnycat.jpeg')}}" alt="a funny picture of a cat eating cereal with a pint of beer next time him. The beer is a european beer in a pilsner style glass">
        
        <div class="card-body bg-dark">
            <h5 class="card-title">Check out this cool picture</h5>
            <p class="card-text text-light">
            Future content may be provided, in the meanwhile check out this awesome picture. 
          </p>
        </div>
      </div>
    </div>
         <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="0"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Image cap"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Homework</title>
          <rect width="100%" height="100%" fill="#fff" />
          <img src="{{url_for('static', filename='assets/redpanda.jpeg')}}" alt="A picture of a red panda sitting on a tree branch">
        
        <div class="card-body bg-dark">
          <a href="/hwlandingpage" class="link-styling"><h5 class="card-title">Homework Page</h5></a>
          <a href="/hwlandingpage" class="link-styling"><p class="card-text text-light">
            This is a page to show off some of my homework. Protip: watch out for the popups.
          </p></a>
        </div>
      </div>
    </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-info text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>The stone the builders rejected has become the cornerstone.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-dark">
            The Bible <cite title="Source Title">Pslams 118:22 NIV</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    
  </div>
</div>



<h1 class="text-center my-5">Find The Lord</h1>
<div class="container">

<!-- this is a media query using bootstrap that only shows on mobile devices -->
<p class="mobile-show"><a class="link-styling"href="/about">Mobile users: please give feedback on the website by clicking this text and filling out the form at the bottom of the page.</a></p>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='scripts/masonry.js')}}"></script>
<script src="{{url_for('static', filename='homework/scripts/homepage.js')}}"></script>

{% endblock %}
