{% extends 'base.html' %} {% block title %} <title>Login</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}

<!-- registration goes here -->
<div class="container">
  <h1 class="text-center my-5">Login here</h1>
  <form method="post" action="mailto:example@exmaple.com" id="form" class="mx-5 mt-5">
    <div class="mb-3">
      <label for="email" class="form-label"
        >Emter the email you signed up with:
      </label>
      <input
        type="text"
        class="form-control color-for-form"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="passwd" class="form-label">Enter your Password: </label>
      <input
        type="text"
        class="form-control color-for-form"
        id="passwd"
        name="passwd"
        required
      />
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-danger text-end mb-5">Submit</button>
    </div>
  </form>
</div>
{% endblock %} {% block scripts %} {% endblock %}
