{% extends 'base.html' %} {% block title %} <title>Login</title>{% endblock %}{%
block head %} {% endblock %} {% block content %}

<!-- registration goes here -->
<div class="container">
  <h1 class="text-center my-5">Login here</h1>
  <form
    id="myForm"
    class="mx-5 mt-5"
  >
    <div class="mb-3">
      <label for="email" id="email-label" class="form-label"
        >Emter the email you signed up with:
      </label>
      <input
        type="email"
        class="form-control color-for-form"
        id="email"
        name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        aria-describedby="email-label"
        required
      />
    </div>
    <div class="mb-3">
      <label for="passwd" class="form-label">Enter your Password: </label>
      <input
        type="password"
        class="form-control color-for-form"
        id="passwd"
        name="passwd"
        required
      />
    </div>
    <p>
      This is a form that does not work, I made it for pactice. If you press
      submit you may get a error because it has nowhere to send the form, or a
      email application may open.
    </p>
    <div id="output-for-login" class="my-2"></div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button onclick="login()" class="btn btn-danger text-end mb-5">Submit</button>
    </div>
</div>
{% endblock %} {% block scripts %} <script src="{{url_for('static', filename='homework/scripts/login.js')}}"></script>
{% endblock %}
