{% extends 'base.html' %} {% block title %} <title>Register</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}

<!-- registration goes here -->
<!-- I coul easily hook this up to getform.io and have a working backend with no php as I did in another website. Right now it is set up to open the email client like it is sending mail to the administrator -->
<div class="container">
  <h1 class="text-center my-5">Register here</h1>
  <form
    method="post"
    action="mailto:example@exmaple.com"
    id="form"
    class="mx-5 mt-5"
  >
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control color-for-form"
        id="name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        pattern=".+@*\.+"
        class="form-control color-for-form"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        required
      />
      <div id="emailHelp" class="form-text text-light">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="email2" class="form-label">Enter your email again</label>
      <input
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        class="form-control color-for-form"
        id="email2"
        name="email2"
        required
      />
    </div>
    <div class="mb-3">
      <label for="passwd" class="form-label">Enter a Secure Password</label>
      <!-- password is not starred out so the user can check their password -->
      <input
        type="text"
        class="form-control color-for-form"
        id="passwd"
        name="passwd"
        required
      />
    </div>
    <div class="mb-3">
      <label for="passwd2" class="form-label">Enter your password again</label>
      <input
        type="text"
        class="form-control color-for-form"
        id="passwd2"
        name="passwd2"
        required
      />
    </div>
    <p>
      This is a form that does not work, I made it for pactice. If you press
      submit you may get a error because it has nowhere to send the form, or a
      email application may open.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-danger text-end mb-5">Submit</button>
    </div>
  </form>
</div>
{% endblock %} {% block scripts %} {% endblock %}
