{% extends 'base.html' %} {% block title %}
<title>Youtube reccomendations</title>{% endblock %}{% block head %} {% endblock
%} {% block content %}
<h1 class="text-center my-5">YouTube Reviews</h1>
<div class="container">
  <p>
    On this page I will post YouTube channels and resources I know and post my opinion of them
    and who they will be good for. Some will just be links and I won't explain them. If there is a lot of interest I may go back and explain them. This is enough to get you started if you are diligent. 
  </p>
</div>
<h1 class="text-center my-5">Christianity</h1>
<div class="container">
  <h3 class="text-center my-5">
    <a href="https://wtfhappenedin1971.com" class="link-styling"
      >www.wtfhappenedin1971.com/</a
    >
  </h3>
  <p></p>
</div>
  <hr />
  <h1 class="text-center my-5">Finance</h1>
  <div class="container">
    <h3 class="text-center my-5">
      <a href="https://wtfhappenedin1971.com" class="link-styling"
        >www.wtfhappenedin1971.com/</a
      >
    </h3>
    <p>
      This website has a bunch of graphs on it, and the first one is the most
      important. It shows the difference between what the businesses are making
      off of labor vs how much they are paying back to their employees.
    </p>
    <p>
      If you don't know how to read graphs you need to work on that as a lot of
      truth comes in graph form. Try searching on YouTube how to do it.
    </p>
  </div>





  <h3 class="text-center my-5">
    <a href="https://fred.stlouisfed.org/series/FEDFUNDS" class="link-styling"
      >FRED by the St Louis Federal Reserve</a
    >
  </h3>
</div>
  
  </div>




  <hr />
  <h1 class="text-center my-5">Career in Tech</h1>

  <h3 class="text-center my-5">
    <a href="https://www.youtube.com/freecodecamp" class="link-styling"
      >Freecodecamp Youtube Page</a
    >
  </h3>
  <p>This is a good way to learn the basics of a lot of different stuff for free from pretty good instructors. They also have a website where you can earn a certificate for free which mostly focuses on web development technologies and data science. The YouTube page has a wide variety.</p>
  <h3 class="text-center my-5">
    <a href="https://www.udemy.com/" class="link-styling"
      >Udemy.com</a
    >
  </h3>
<p>This is a really good website to get courses on tech especially but other things like music too. If you want to pursue a CompTIA certification you can find some good series for a modest price such as the ones by James Dion. I have only done his course on Linux+ I also like Stephane Maarek's AWS courses but you have to get the practical experience on your own.</p>
<p>Wait until courses go on sale for 10-20 dollars. Do not buy for full price.</p>
  <hr />
  <div class="container">
    <p>
      <img
        class="thumbnail"
        src="{{url_for('static', filename='assets/gloves.png')}}"
        alt="a picture of cartoon boxing gloves"
      />The GLOVES are still on.<img
        class="thumbnail"
        src="{{url_for('static', filename='assets/gloves.png')}}"
        alt="a picture of cartoon boxing gloves"
      />
    </p>
  </div>
  </div>
  {% endblock %} {% block scripts %} {% endblock %}
</div>
