.calc {
  width: 100%;
  height: 100%;
  background-color: #101820ff;
  color: #fee715ff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
