body {
  background-color: black;
  color: white;
}

hr {
  color: white;
}

.link-styling {
  color: white;
}

.masthead-2 {
  color: white;
}

.masthead-text {
  color: black;
  font-weight: 900;
}
