* {
  margin: 0;
}
.smbutton {
  width: 3em;
}

hr {
  border-width: 0.25em;
}

.link-styling {
  text-decoration: none;
}

.link-styling:hover {
  text-decoration: underline;
}

.thumbnail {
  width: 2.5em;
}

.carousel-item {
  height: 32rem;
}

.carousel-item video {
  max-height: auto;
  max-width: 100%;
}

.favicon {
  width: 3rem;
}
