{% extends 'base.html'%} {% block title %} <title>About JMD</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}

<div class="container">
  <h1 class="text-center">About us</h1>
  <p>
    Currently this website is operated by one man. This websites mission is to
    spread the knowledge that he has acquired so that others may benefit from it
    too. That being said, no one can show you unless you want to understand, for
    God has only opened the eyes of certain people. It is possible to have your
    eyes be opened but to not believe, there is an increasingly high number of
    people who are in this category. These people are sometimes called or call
    themselves &quot;truthers.&quot; I hope that you make use of this website,
    and it inspires you to believe in the Lord Jesus Christ.
  </p>
</div>
{% endblock %} {% block scripts %} {% endblock %}
