{% extends 'base.html' %} {% block title %} <title>Resources</title>{% endblock
%}{% block head %} {% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="a2ed5c63-4a6d-426e-83db-32d006c9c3a5"
        data-share-badge-host="https://www.credly.com"
      ></div>
      <script
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"
      ></script>
    </div>
    <div class="col-sm">
      <div
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="310e7ae5-0fd7-4d25-ad78-af765c66890e"
        data-share-badge-host="https://www.credly.com"
      ></div>
      <script
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"
      ></script>
    </div>
    <div class="col-sm">
      <div
        data-iframe-width="150"
        data-iframe-height="270"
        data-share-badge-id="b90f5361-04b3-4d54-8f57-58154ac71e6a"
        data-share-badge-host="https://www.credly.com"
      ></div>
      <script
        type="text/javascript"
        async
        src="//cdn.credly.com/assets/utilities/embed.js"
      ></script>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
